// Used to wrap content inside a nice box.
.content-box {
	background-color: var(--bg-content-color);
	max-width: var(--content-width);
	margin: 0 auto;
	transition: background-color .6s;
	padding: var(--space);
  border-radius: var(--radius);
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.02), 1px 1px 15px 0 rgba(0,0,0,.03);
  transition: transform .3s, background-color .3s, box-shadow .6s;
}

// Used to wrap content inside a nice box.
.entry-box {
	// background-color: var(--bg-content-color);
	max-width: var(--content-width);
	margin: 0 auto;
	transition: background-color .6s;
	padding-left: var(--entry-block-space);
	padding-right: var(--entry-block-space);
	padding-top: var(--entry-block-space);
	padding-bottom: var(--entry-block-space) ;
  border-radius: var(--radius);
//   box-shadow: 1px 1px 5px 0 rgba(0,0,0,.02), 1px 1px 15px 0 rgba(0,0,0,.03);
  transition: transform .3s, background-color .3s, box-shadow .6s;
}


.entry {

  
	&__title {
	  padding: var(--space);
	  justify-content: center;

	  @media screen and (max-width: 650px) {
		margin: 90px 0 50px 0px ;
		padding: 0;
		
	  }
	
	}
	&__content{
	  margin: 20px 0px 30px 0px;
	  padding-left: var(--space);

	  @media screen and (max-width: 650px) {
		margin: 20px 0px 50px 0px;
		padding: 0;

	  }
	}  
	
	
}
.about_container{
	width: 500px;
	padding-left: var(--space);
	&__title {	
	  font-weight: bold;
	}
	&__content {	
		margin-top: 0.7em;
		@media screen and (max-width: 650px) {
			width: 100%;
		  }
	  }
	  @media screen and (max-width: 650px) {
		width: 100%;
		padding: 0;
	  }  
  }
