.v-navigation-drawer__content {
    background-color: var(--bg-layout-color);
  }
.v-toolbar__content {
background-color: var(--bg-layout-color);
}
.v-content {
    background-color: var(--bg-layout-color);
}